<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<% if @train.railway_station %>
  <p>
    <strong>Current Station:</strong>
    <%= @train.railway_station.title %>
  </p>
<% end %>

<% if @train.route %>
  <p>
    <strong>Current Route:</strong>
    <%= @train.route.name %>
  </p>
<% end %>

<% if @train.wagons %>
  <p><strong>Wagons:</strong></p>
  <table>
    <thead>
      <tr>
        <th>Type</th>
        <th>Top Seats</th>
        <th>Bottom Seats</th>
      </tr>
    </thead>
    <tbody>
      <%= render 'wagon', wagons: @train.wagons %>
    </tbody>
  </table>
<% end %>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
