<p id="notice"><%= notice %></p>

<h1>Tikets</h1>

<table>
  <thead>
    <tr>
      <th>Train</th>
      <th>First Station</th>
      <th>Last Station</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tikets.each do |tiket| %>
      <tr>
        <td><%= tiket.train.number %></td>
        <td><%= tiket.train.route.railway_stations.first if tiket.train.route %></td>
        <td><%= tiket.train.route.railway_stations.last if tiket.train.route %></td>
        <td><%= tiket.user.first_name %></td>
        <td><%= link_to 'Show', tiket %></td>
        <td><%= link_to 'Edit', edit_tiket_path(tiket) %></td>
        <td><%= link_to 'Destroy', tiket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tiket', new_tiket_path %>
